@{
	ViewBag.Title = "404";
}
<section>
	<div class="thanks">
		<h1>Uh-oh! 404 page not found</h1>
		<p>The page you are looking for doesn't appear to exist. Go <a href="@Url.Action("Index", "Subscription")">back</a>, <br/>or head on over to <a href="http://www.flyingblue.com/index.html">FlyingBlue.com</a> to choose a new direction.</p>
	</div>
</section>
