<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/style.css")" media="all">
	<!--[if lt IE 9]> <script src="js/html5ForIE.js"></script> <![endif]-->
	<!--[if IE 9]> <html class="ie9"> <![endif]-->
	<!--[if IE 8]> <html class="ie8"> <![endif]-->
</head>
<body>
	<header>
		<div></div>
	</header>
	<div class="container">
		@RenderBody()
	</div>
	@RenderSection("scripts", required:false)
</body>

</html>